.cont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.symbol {
    cursor: pointer;
    border: none;
    background-color: #1e555c;
    color: white;
}

.symbol:hover {
    color: black;
}

.symbol:active {
    color: black;
}

.clock {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
}

.session {
    font-size: 25px;
}

.time {
    font-size: 40px;
}

.control {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

i {
    cursor: pointer;
}

i:hover {
    color: black;
}

i:active {
    color: black;
}